/* styles.css */
#mapboxMap {
    height: 91vh;
    /* display: initial; */
    /*z-index: 950;*/
}

/* Set theme color */
.nav-wrapper{
  background-color: #314443;
}
.dropdown-content {
  max-height: 350px !important;
  overflow-y: auto !important;
  backface-visibility: hidden !important;
}
p { margin: 0px 0;}
