body {
  overflow-y: hidden;
}
/* Set theme color */
.nav-wrapper {
  background-color: #314443;
}
.dropdown-content {
  max-height: 350px !important;
  overflow-y: auto !important;
  backface-visibility: hidden !important;
}
p {
  margin: 0px 0;
}

#mapboxMap {
  position: absolute;
  top: 67px;
  width: 100%;
  bottom: 0;
}

#slide-out {
  position: absolute;
  top: 67px;
  width: 250px;
  bottom: 0;
  overflow-y: auto;
}
